.header {
  z-index: 3;
  padding: 2.2rem 0;
  background-color: $white;
  transition: transform 0.65s;

  &--fixed {
    position: fixed;
    top: -9.2rem;
    left: 0;
    right: 0;
    z-index: 2;
    animation: fixing-header 0.75s forwards;
  }

  &--unfixed {
    animation: unfixing-header 0.75s;
  }

  &--faded-out {
    transform: translateY(-9.2rem);
  }

  &--faded-in {
    transform: translateY(0);
  }

  @keyframes fixing-header {
    to {
      top: 0;
    }
  }

  @keyframes unfixing-header {
    from {
      transform: translateY(-9.2rem);
    }
    to {
      transform: translateY(0);
    }
  }

  @keyframes fading-header-out {
    to {
      top: -9.2rem;
    }
  }

  @keyframes fading-header-in {
    to {
      top: 0;
    }
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      position: relative;
      z-index: 4;
      height: 4.8rem;
    }

    .icon--logo {
      width: 3.8rem;
      height: 4.8rem;
    }

    .hamburger {
      display: none;
      position: relative;
      z-index: 2;
      background-color: transparent;
      cursor: pointer;

      &::after {
        content: "";
        position: absolute;
        z-index: 3;
        left: 0;
        width: 100%;
        background-color: $accent;
        cursor: pointer;
      }

      @include bp($bp480-1, "max") {
        width: 20px;
        height: 17px;
        border-top: 3px solid $accent;
        border-bottom: 3px solid $accent;

        &::after {
          top: 4.5px;
          height: 3px;
        }
      }

      @include bp($bp480, "min") {
        width: 30px;
        height: 26px;
        border-top: 4px solid $accent;
        border-bottom: 4px solid $accent;

        &::after {
          top: 7px;
          height: 4px;
        }
      }
    }

    .menu {
      display: flex;
      gap: 5rem;
      font-size: 1.8rem;
      text-decoration: none;
    }

    .menu__item {
      a {
        color: $primary;
      }

      &--active a {
        color: $warning;
        text-shadow: 0 0 1px currentColor;
      }

      &:hover a {
        text-shadow: 0 0 1px currentColor;
      }
    }

    @include bp($bp1024-1, "max") {
      position: relative;

      .hamburger {
        display: block;
      }

      .menu {
        position: fixed;
        z-index: 1;
        left: -100dvw;
        top: 0;
        width: 100dvw;
        height: 100dvh;
        opacity: 0;
        visibility: hidden;
        font-size: 18px;
        transition: 0.3s;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $white;

        &.visible {
          opacity: 1;
          visibility: visible;
          left: 0;
        }
      }
    }
  }
}
